<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:aop="http://www.springframework.org/schema/aop" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.3.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
">

<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/rhdata"></property>
	<property name="user" value="root"></property>
	<property name="password" value="123456"></property>
</bean>
<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	<!--  基于xml 整合 hibernate文件 
	<property name="configLocation" value="classpath:hibernate.cfg.xml"></property> 
    <property name="mappingLocations" value="classpath:*.hbm.xml"></property> -->
	<property name="dataSource" ref="dataSource"></property>
	<property name="packagesToScan" value="com.zucc.edu.bean"></property>
	<property name="hibernateProperties">
		<props>
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>                 
            <prop key="hibernate.show_sql">true</prop>
            <prop key="hbm2ddl.auto">update</prop>
            <prop key="hibernate.format_sql">true</prop>
		</props>
	</property>
</bean>
<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
	<property name="sessionFactory" ref="sessionFactory"></property>
										 	
</bean>
<!-- 启用事务注解 -->

<!-- <tx:annotation-driven transaction-manager="transactionManager" ></tx:annotation-driven> -->
<!-- AOP拦截式事务管理 -->
<tx:advice id="txAdvice" transaction-manager="transactionManager">
	<tx:attributes>
		<tx:method name="insert*" propagation="REQUIRED"/>
	</tx:attributes>
</tx:advice>
<aop:config>
	<aop:pointcut expression="execution(* com.zucc.edu.dao.*.*(..))" id="pointCut"/>
	<aop:advisor advice-ref="txAdvice" pointcut-ref="pointCut"/>
</aop:config>

<aop:config >
	<aop:pointcut expression="" id=""/>
	<aop:aspect ref="">
		<aop:before method="" pointcut-ref=""/>
	</aop:aspect>
</aop:config>


<context:annotation-config></context:annotation-config>
<context:component-scan base-package="com.zucc.edu.dao"></context:component-scan>

<bean id="bank" class="com.zucc.edu.bean.Bank">
	<property name="bank_Id" value="10"></property>
</bean>

</beans>
